@use "../../scss/"as *;


#paneLeft {
    border-right: 1px solid #bde0fe;
    height: 100%;
    flex-basis: 25%;

}

.paneLeft {
    position: sticky;
    align-self: flex-start;
    padding-top: 10px;
    top: 0;
    left: 0;
    z-index: 99;

    &__wrap {
        @include flex(center, center);
    }

    .logo {
        font-size: 2rem;
        font-weight: 600;

        img {
            margin-right: 10px;
            width: 50px;

            @include mobile {
                width: 30px;
                margin-right: 0;
            }
        }
    }

    .search {
        width: 250px;
        height: 35px;
        @include flex(center, space-between);
        vertical-align: middle;
        white-space: nowrap;
        position: relative;
        .icon {
            position: absolute;
            margin-left: 17px;
            z-index: 1;
            color: #4f5b66;
        }

        input {
            font-size: 10pt;
            float: left;
            height: 40px;
            color: rgba(65, 75, 90, 1);
            padding-left: 45px;
            width: 100%;
            @include input;
        }
    }
    .box_paneLeft{
        border-radius: 20px;
        margin-top: 10px;
        width: 320px;
        height: auto;
        background-color: $color-btn;
        h3 {
            margin-left: 10px;
        }
    }
    &__info {
        .infoUser {
        padding: 10px;
        @include flex(center, space-between);
        .avatar {
            border-radius: 100%;
            height: 2.5em;
            width: 2.5em;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 100%;
            }
        }
        .info {
            flex: 1;
            padding-left: 1.5rem;
            .name{
                font-weight: 700;
            }
            .username{
                font-size: 0.8em;
                color: #8899a6;
            } 
         }
         .addFr {
             Button {
                @include btnAddFr;
                @include colorGradient;

             }
         }
        }

    }
    span {
        a {
            color: $main-color;
            margin-left: 20px;
        }
    }
    .follow {
        margin-top: 30px;
    }
    
}