@use "../../scss/"as *;


#paneLeft {
    border-right: 1px solid #bde0fe;
    height: 100vh;
    flex-basis: 25%;
    // position: sticky;
    overflow: scroll;
    &::-webkit-scrollbar {
        display: none;
      }

}

.paneLeft {
    position: sticky;
    align-self: flex-start;
    padding-top: 10px;
    top: 0;
    left: 0;
    z-index: 99;
    width: 25%;

    &__wrap {
        @include flex(center, center);
        position: fixed;
        @include header;
        width: 25%;
    }

    .logo {
        font-size: 2rem;
        font-weight: 600;

        img {
            margin-right: 10px;
            width: 50px;

            @include mobile {
                width: 30px;
                margin-right: 0;
            }
        }
    }

    .search {
        width: 250px;
        height: 35px;
        @include flex(center, space-between);
        vertical-align: middle;
        white-space: nowrap;
        position: relative;
        box-shadow: $box-shadow-1;
        transition: all 300ms ease;
        &:hover {
            box-shadow: none;
        }
        .icon {
            position: absolute;
            margin-left: 17px;
            z-index: 1;
            color: #4f5b66;
        }

        input {
            font-size: 10pt;
            float: left;
            height: 40px;
            color: rgba(65, 75, 90, 1);
            padding-left: 45px;
            width: 100%;
            @include input;
        }

        .dropContainer {
            position: absolute;
            z-index: 999;
            top: 100%;
            .dropList {
                width: 250px;
                height: auto;
                padding: 0 0.3rem 0.5rem 0.3rem;
                background: #ffffff;
                color: #000;
                font-size: 1rem;
                font-weight: 500;
                box-shadow: $box-shadow-1;

                &:first-child {
                    padding-top: 0.8em;
                }

                .title {
                    margin-bottom: 1em;
                    @include flex(center, space-between)
                }

                .items {
                    height: 50px;
                    cursor: pointer;
                    @include flex(center, space-between);
                    user-select: none;
                    list-style: none;
                    padding: 5px;
                    border-radius: 10px;
                    &:hover {
                        background-color: $color-btn;
                    }
                }
            }
        }
    }
    .box_paneLeft{
        border-radius: 20px;
        margin-top: 70px;
        width: 320px;
        height: auto;
        background-color: $body-bg;
        box-shadow: $box-shadow-1;
        transition: all 300ms ease;
        &:hover {
            box-shadow: none;
        }
        h3 {
            margin-left: 10px;
        }
    }
    &__info {
        .infoUser {
        padding: 10px;
        @include flex(center, space-between);
        .avatar {
            border-radius: 100%;
            height: 2.5em;
            width: 2.5em;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 100%;
            }
        }
        .info {
            flex: 1;
            padding-left: 1.5rem;
            .name{
                font-weight: 700;
            }
            .username{
                font-size: 0.8em;
                color: #8899a6;
            } 
         }
         .addFr {
             Button {
                @include btnAddFr;
                @include colorGradient;

             }
         }
        }

    }
    span {
        a {
            color: $main-color;
            margin-left: 20px;
        }
    }
    .follow {
        margin-top: 30px;
    }
    
}