@use '../../../scss/' as *;

.notification_all{
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
    width: 100%;

    .all-list{
        display: flex;
        padding: 30px 30px 0 40px;
        cursor: pointer;
        &:hover{
            background-color: #dee2e6;
        }
    }

    .all-left{
        display: flex;
        margin-right: 50px;
        .all_twitter{
            img{
                width: 100px;
                border-radius: 50%;
                object-fit: fill;
                
            }
        }
        .all-user{
            h2{
                a{
                    color: aqua;
                }
            }
          margin-left: 10px;
            img{
                height: 35px;
                width: 35px;
                border-radius: 50%;
                
            }
            p {
                text-align: justify;
                text-justify: inter-word;
            }
        }
    }

    .search {
        position: relative;

        .all-more {
            button {
                background: none;
                border: none;
                cursor: pointer;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                transition: all 300ms ease;
                z-index: 999;
                i {
                    font-size: 1.2em;
                }
                &:hover {
                    background-color: $body-bg;
                }
            }
        }
      margin-left: 10px;
        img{
            height: 35px;
            width: 35px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}

@keyframes topbottom {
    from{
        opacity: 0;
       
    }
    to{
        opacity: 1;
    }
}
