@use '../../scss/' as *;

section {
    flex-basis: 45%;
    height: 1000px;
    // background-color: aqua;
    header {
        h2 {
            color: aqua;
        }
    }
}

.a {
    // background-color: red;
    flex-basis: 54%;
    height: 100px;
}