@use '../../../scss/' as *;

.User-friends{
    flex-basis: 45%;
    height: auto;
}
.pageFriend{
    flex-basis: 45%;
    width: 100%;
    height: auto;
    .pageHeader{
        display: flex;
        align-items: center;
        height: $header-height;
        background: $body-bg;
        position: fixed;
        z-index: 99;
        top: 0;
        width: 45%;
        background: #ba8b02;
    }
    header{
        .main{

            height: 900px;
            width: 100%;
            background: #004ff9;
        }
    }
}