.wrapper {
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  border-right: 1px solid #e8e8e8;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

  .user {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 16px;

    &:hover {
      background: #f2f2f2;
    }

    .avatar {
      position: relative;
      padding-right: 12px;

      img {
        width: 40px;
        height: 40px;
        border: 1px solid #dee2e6;
        border-radius: 50%;
        object-fit: cover;
      }
      
      span.online {
        position: absolute;
        right: 10px;
        bottom: 2px;
        color: #22c55e;
        font-size: 10px;
        border: 2px solid #fff;
        border-radius: 50%;
      }
    }

    .info {
      span.name {
        display: block;
        font-size: 17px;
        font-weight: 600;
        line-height: 19.9995px;
      }

      span.text {
        display: block;
        font-size: 13px;
        color: var(--text-description-color);
        line-height: 16px;
      }
    }
    
    button {
      display: none;
      position: absolute;
      right: 36px;
      border: none;
      outline: none;
      background: #fff;
      border-radius: 50%;
      color: var(--text-description-color);
      box-shadow: #000000 0px 0px 0px 0.1px;
      font-size: 20px;
      padding: 6px 9px;
    }
  }

  .toolbar {
    button {
      cursor: pointer;
      border: none;
      outline: none;
      background: none;
      border-radius: 50%;
      color: var(--primary);
      font-size: 20px;
      padding: 6px;
      margin: 0 5px;
      width: 36px;
      height: 36px;

      &:hover {
        background: #F0F2F5;
      }
    }
  }
}

.message {
  padding: 8px;
  overflow-y: scroll;
  height: calc(100vh - 111.99px);
  -ms-overflow-style: none;
  
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track:hover {
    background: #f0f1f2;
  }
  
  &::-webkit-scrollbar-thumb {
    background: #bcc0c4;
    border-radius: 12px;
  }
}

.footer {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 10px 0;
  width: calc(100% - 20px);
  bottom: 0;

  @media (max-width: 360px) {
    width: 100%;
  }

  .input {
    position: relative;
    width: calc(100% - 805px);

    @media (max-width: 360px) {
      width: calc(100% + 430px);
    }

    input {
      border: none;
      outline: none;
      width: 100%;
      border-radius: 20px;
      font-size: 14px;
      height: 36px;
      background: #f0f2f5;
      padding: 8px 36px 8px 12px;
    }

    button {
      position: absolute;
      right: 0;
      padding: 4px;
    }
  }
  
  button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    border-radius: 50%;
    color: var(--primary);
    font-size: 19.5px;
    margin: 0 4px;
    padding: 8px;
    width: 36px;
    height: 36px;

    &:hover {
      background: #F0F2F5;
    }

    &:active {
      background: #e5e5e5;
    }
  }
}

.info-toolbar {
  width: 100%;
  background: #fff;
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
  border-radius: 8px;
  max-height: 417px;
  min-width: 130px;
  padding: 4px;

  .option {
    cursor: pointer;
    margin: 4px;
    padding: 12px 8px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 8px;

    &:hover {
      background: #F0F2F5;
    }

    &:active {
      background: #e5e5e5;
    }
  }

  h2 {
    font-size: 15px;
  }

  input {
    margin: 8px;
    display: block;
    background: #f0f2f5;
    padding: 7px 16px 9px;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: 15px;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  }

  button {
    margin: 8px;
  }

  .title {
    display: flex;
    padding: 8px;

    i {
      cursor: pointer;
      font-size: 15px;
      padding-right: 12px;
    }
  }
}