@use '../../scss/'as *;

section {
    flex-basis: 45%;
    height: auto;

    header {
        @include header;
        @include flex(center, space-between);
        position: fixed;
        width: 45%;
        box-shadow: $box-shadow;
        h2 {
            font-size: 1.5rem;
            margin-left: 2rem;
        }
    }

   

    .postUser {
        width: 100%;
        display: flex;
        padding: 10px 30px;
        align-self: flex-start;
        margin-top: 70px;
        height: 150px;
        .avatar {
            @include imgAvatar;
            margin-right: 20px;
        }

        .contentPost {
        

            width: 90%;
            &__user {
                width: inherit;
                textarea {
                    width: 90%;
                    border: none;
                    background: $body-bg;
                    font-size: 1.3rem;
                    word-break: break-all;
                    resize: none;
                    outline: none;
                    overflow:auto;
                    &::-webkit-scrollba {
                        display: none;
                    }
                }
            }
        }

        .privacy {

            .select {
                font-weight: bold;
                font-size: 1rem;
                color: $main-color;
                cursor: pointer;
                user-select: none;
                position: relative;
            }

            .dropContainer {
                position: absolute;
                z-index: 999;
                .dropList {
                    width: 350px;
                    padding: 0;
                    margin: 0;
                    padding-left: 1em;
                    background: #ffffff;
                    border: 2px solid #e5e5e5;
                    box-sizing: border-box;
                    color: #000;
                    font-size: 1rem;
                    font-weight: 500;

                    &:first-child {
                        padding-top: 0.8em;
                    }

                    .title {
                        margin-bottom: 1em;
                    }

                    .items {
                        cursor: pointer;
                        user-select: none;
                        list-style: none;
                        margin-bottom: 1em;
                    }
                }
            }

        }
    }
    .iconPost {
        border-bottom:1px solid $main-color;
        .content {
            margin-bottom: 10px;
            @include flex(center, space-between);
            padding: 0 30px;
        }
        .btnPost{
            Button{
                width: 50px;
                height: 35px;
                font-size: 0.9rem;
                font-weight: 100;
                border-radius: 15px;
                @include colorGradient;
            }
        }
        .icon {
            margin-left: 50px;
            i {
                margin-left: 10px;
                color: $main-color;
                &:hover {
                    color: #023047;
                }
            }
        }
    }
}

.content-post{
    padding: 30px 10px 30px 30px;
    display: flex;
    &:hover{
        background-color: rgba(250,225,221,0.2);
        box-shadow: $box-shadow-1;
        cursor: not-allowed;
    }
    .post-avatar{
        width: 8%;
        height: auto;
        img {
            @include imgAvatar;
            
        }
    }
    .post-info{
        width: 92%;
        height: auto;
        padding-left: 20px;
        .post-info-header{
            display: flex;
            justify-content: space-between;
            padding: 5px 0px;
            .post-name{
                display: flex;
                p{
                    padding-left: 5px;
                    opacity: 0.6;
                }
            }
        }
        .post-content{
            .post-content-img{
                padding-top:10px ;
                img{
                    border-radius: 15px;

                }
            }
        }
        .post-interactive{
            padding: 5px 0 20px 5px;
            display: flex;
            align-items: center;
            text-align: center;
            i{
                
                display: flex;
                width: 33%;
                cursor: pointer;
                color: rgb(168, 148, 148);
                p{
                    padding-left: 15px;
                    color: black;
                }
            }
        }
    }

}


