@use '../../../scss/' as *;

.modalcontainer{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.35);
    animation: topbottom ease-in-out .3s;

    .modal{
        background-color: rgba(255, 255, 255, 1);
        width: 800px;
        height: auto;
        padding: 30px;
        border-radius: 20px;
        &_header {
            position: relative;
            border-bottom: 2px solid red;
            padding-bottom: 10px;
            .fa-search{
                color: aqua;
            }
            input{
                border: none;
                outline: none;
                margin-left: 10px;
            }
            .close{
                background-color: transparent !important;
                font-size: 26px;
            }
        }
        &_content{
            border-bottom: 1px solid orange;
            padding: 20px 0;
        }
        &_footer{
            padding: 20px 0;
            button{
                float: right;
                padding: 10px 15px;
                border-radius: 15px;
                border: none;
                background: linear-gradient(90deg, #00ced5 0%, #00d4ff 100%);
               
            }
            .modal-close,
            .submit{
                margin-right: 10px;
                &:hover{
                    background-color: rgba(250, 235, 215,0.5);
                }
            }
        }

        .modal_header-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            i {
                font-size: 30px;
                height: 50px;
                width: 50px;
                text-align: center;
                line-height: 50px;
                &:hover {
                    background-color: rgba(207, 198, 198, 0.2);
                }
            }
        }
        .close{
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    
    
}





@keyframes topbottom {
    from{
        opacity: 0;
       
    }
    to{
        
        opacity: 1;
    }
}