.wrapper {
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  border-right: 1px solid #e8e8e8;
}

.search-result {
  width: 100%;
  background: #fff;
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
  border-radius: 8px;
  max-height: 417px;
  min-width: 270px;
  margin: -15px 0 0 55px;
  padding: 8px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track:hover {
    background: #f0f1f2;
  }
  
  &::-webkit-scrollbar-thumb {
    background: #bcc0c4;
    border-radius: 12px;
  }

  .user {
    display: flex;
    align-items: center;
    padding: 8px 8px;
    border-radius: 8px;
    margin: 2px;

    &:hover {
      background: #f2f2f2;
    }

    .avatar {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      object-fit: cover;
    }

    .name {
      margin-left: 12px;
      font-size: 15px;
    }
  }
}

.header {
  border-bottom: 1px solid #ced0d4;
  font-size: 15px;
  min-height: 56px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .selected-user {
    display: inline-flex;
    align-items: center;
    background: #f3f3f4;
    padding: 3px 3px 3px 10px;
    border-radius: 6px;
    margin: 4px;

    .name {
      font-weight: 600;
      font-size: 15px;
    }

    button {
      cursor: pointer;
      border: none;
      background: transparent;
      padding: 7px 8px 5px 8px;
      margin: 2px 0 0 2px;
      border-radius: 50%;

      &:hover {
        background: #d8dadf;
      }

      &:active {
        background: #cccfd4;
      }

      i {
        width: 12px;
        height: 12px;
      }
    }
  }

  .user-target {
    border: none;
    outline: none;
    padding: 10px 10px;
    background: transparent;
  }
}

.message {
  padding: 8px;
  overflow-y: scroll;
  height: calc(100vh - 111.99px);
  -ms-overflow-style: none;
  
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track:hover {
    background: #f0f1f2;
  }
  
  &::-webkit-scrollbar-thumb {
    background: #bcc0c4;
    border-radius: 12px;
  }
}

.footer {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 10px 0;
  width: calc(100% - 20px);
  bottom: 0;

  @media (max-width: 360px) {
    width: 100%;
  }

  .input {
    position: relative;
    width: calc(100% - 805px);

    @media (max-width: 360px) {
      width: calc(100% + 430px);
    }

    input {
      border: none;
      outline: none;
      width: 100%;
      border-radius: 20px;
      font-size: 14px;
      height: 36px;
      background: #f0f2f5;
      padding: 8px 36px 8px 12px;
    }

    button {
      position: absolute;
      right: 0;
      padding: 4px;
    }
  }
  
  button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    border-radius: 50%;
    color: var(--primary);
    font-size: 19.5px;
    margin: 0 4px;
    padding: 8px;
    width: 36px;
    height: 36px;

    &:hover {
      background: #F0F2F5;
    }

    &:active {
      background: #e5e5e5;
    }
  }
}