// @use '../../../scss/' as *;
@use '../../scss/' as *;

.message{
    flex-basis: calc(68% + 8px);
    display: flex;
    flex-direction: row-reverse;
    .message-hearder{
        padding: 0 0 10px 0;
        flex-basis: 45%;
        box-shadow: 1px 1px rebeccapurple;
        border-left: 1px solid red;

        .message_header-icon{
            .fa-facebook-messenger{
                padding: 10px;
                &:hover{
                    background-color: rgba(173 ,181 ,189 ,0.4);
                    border-radius: 15px;
                }
            }
        }
        .message-friend{
            margin-top: 50px;
            padding: 0;
            &__message {
                width: 100%;
            }
        }
    }

    .infoUser{
        user-select: none;
        cursor: pointer;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px 10px 10px;
        height: 70px;
        border-bottom: 1px $color-btn solid;
        &:hover {
            background-color: $color-btn;
        }
        &:active {
            background-color: $white;
        }
        .infoUser-left{
            display: flex;
            .infoUser__avatar{
                margin-right: 10px;
            }
        }
        &__avatar {
            @include imgAvatar;
           
        }
        &__content {
            
            .userName {
                width: inherit;
                display: flex;
                .name{
                    margin-right: 10px;
                }
                .time{
                    margin-left: 10px;
                }
            }
        }

    }







    .message_head{
        display: flex;
        justify-content: space-between;
        padding: 10px 10px 0 10px;
        .fab,
        .fas{
            cursor: pointer;
        }
        .fa-cog{
            margin-left: 15px;
        }
    }
    .message_search{
        margin: 10px;
        border: 1px solid red;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        border-radius: 30px;
        padding: 15px 0 15px 10px;
        .fa-search{
            color: #ccc;
        }
        input{
            font-weight: 100;
            
            width: 200px;
            margin-left: 5px;
            border: none;
            outline: none;
            background-color: unset;
        }
    }
    
    
    
    
}
    .message-new{
        display: flex;
        flex-direction: column;
        width: 55%;
        padding: 10px;
        overflow: scroll;
        i{
            font-size: 20px;
        }
        .message-new-header{
            flex: 1;
            .message-new-header-top{
                display: flex;
               align-items: center;
            }
            a{
                font-weight: 900;
            }
            img{
                margin-right: 10px;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        .message-new-footer{
            border-top: 1px solid #ccc;
            margin-bottom: 10px;
            .message-new-footer-char{
                display: flex;
                align-items: center;
                margin-top: 20px;
                cursor: pointer;
                .message-new-footer-input{
                    display: flex;
                    border:1px solid red;
                    border-radius: 20px;
                    align-items: center;
                    width: 100%;
                    margin: 0 10px;
                    input{
                        height: 40px;
                        border:none;
                        outline: none;
                        padding: 0 0 0 30px;
                        background-color: transparent;
                        width: 90%;
                    }
                }
            }
           
        }
    }




