@use '../../../scss/' as *;

.modalContainer {
    position: fixed;
    inset: 0;
    z-index: 999;
    flex-basis: 43%;
    @include flex(center, center);
    background-color: rgba($color: #000000, $alpha: 0.35);
    
    .modal {
        padding: 20px;
        position: absolute;
        background-color: $body-bg;
        width: 42%;
        top: 6%;
        left: 33%;
        height: 640px;
        overflow-y: scroll;
        border-radius: 20px;
        &::-webkit-scrollbar {
            display: none;
        }

        &_header {
            position: relative;
            display: flex;
            height: 50px;
            justify-content: center;
            padding: 2.5rem;
            align-items: center;
            position: fixed;
            top: 6%;
            left: 33%;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            z-index: 1000;
            background-color: $body-bg;
            width: 42%;

            &-title {
                text-align: center;
            }

            .close {
                position: absolute;
                left: 5%;
                top: 25%;
                width: 30px;
                height: 30px;
                @include flex(center, center);
                border-radius: 100%;

                &:hover {
                    color: $main-color;
                    background: #dddddd;
                }
            }

            .submit {
                position: absolute;
                right: 5%;
                align-items: center;
            }
        }

        &_content {
            .cardContent {
                position: relative;
                &_imgCover {
                    position: relative;
                    height: 220px;
                    width: 100%;
                    img {
                        height: 220px;
                        width: 100%;
                        object-fit: cover;
                    }
                    .editIcon {
                        position: absolute;
                        display: flex;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%); 
                        gap: 20px;
                        label {
                            text-align: center;
                            width: 50px;
                            height: 50px;
                            cursor: pointer;
                            border: none;
                            border-radius: 50%;
                            background: rgba($color: #000000, $alpha: 0.35);
                            transition: all 0.3s ease;

                            &:hover {
                                background-color: white;
                                i {
                                color: #000000;

                                }
                            }
                            
                            .fas, .fal {
                                line-height: 50px;
                                font-size: 20px;
                                color: white;
                            }
                        }
                    }
                    
                }
                &_imgAvatar {
                    position: absolute;
                    @include imgAvatar;
                    width: 105px;
                    height: 105px;
                    bottom: -20%;
                    left: 5%;
                    img {
                        border: 5px solid white;
                    }
                    .editAvatar {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%); 
                        width: 40px;
                        height: 40px;
                        .file-upload {
                            display: block;
                            text-align: center;
                            cursor: pointer;
                            border: none;
                            border-radius: 50%;
                            transition: all 0.3s ease;
                            background: rgba($color: #000000, $alpha: 0.35);

                            &:hover {
                                background-color: white;
                                i {
                                    color: black;
                                }
                            }
                            i {
                                line-height: 40px;
                                font-size: 20px;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
        &_footer{
            position: relative;
            width: 100%;
            height: auto;
            margin-top: 50px;
            padding: 10px 20px;
            // background: linear-gradient(to bottom, #2c3e50, #3498db);
            .name,
            .bio,
            .location{
                position: relative;
                width: 100%;
                margin-top: 15px;
                #name{
                    width: 100%;
                }
            }
            .bio {
                position: relative;
                p {
                    position: absolute;
                    // top: 0;
                    right: 2%;
                    bottom: 0;
                    color: gray;
                }
            }
            .dateOfBirth{
                padding: 10px 0;
                p{
                    padding-bottom: 20px;

                }
            }
        }
    }
}

input[type="file"] {
    display: none;
}