@use "../../scss/"as *;


#header {
    border-left: 1px solid #bde0fe;
    height: 100%;
    flex-basis: 25%;
}

.header {
    height: $header-height;
    position: sticky;
    padding-left: 50px;
    top: 0;
    right: 0;
    z-index: 99;
    transition: height 0.3s ease, background-color 0.3s ease;

    &__nav {
        margin-top: 2rem;

        li {
            padding: 5px 0;
            font-weight: 700;
            position: relative;
            font-size: 1.2rem;
            margin-bottom: 2rem;
            width: fit-content;
            @include flex(center, center);

            i {
                font-size: 25px;
                margin-right: 20px;
            }

            &.active {
                content: "";
                transition: width 0.5s ease;
                color: $main-color;
            }

            Button {
                @include colorGradient;
                width: 250px;
                height: 45px;
                border-radius: 50px;
                font-size: 1.2rem;
                font-weight: bold;
            }
        }
    }
    &__wrap {
        .infoUser{
            bottom: 1.5em;
            button.account {
                width: 250px;
                @include flex(center, space-between);
                cursor: pointer;
                color: $txt-color;
                font-size: 1em;
                border: none;
                background-color: $body-bg;
            }
            .avatar{
                border-radius: 100%;
                height: 2.5em;
                width: 2.5em;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 100%;
            }
            .info {
                .name{
                    font-weight: 700;
                }
                .username{
                    font-size: 0.8em;
                    color: #8899a6;
                }
                
            }
        }
    }
}