@use "../../scss/"as *;


#header {
    border-left: 1px solid #bde0fe;
    height:100vh;
    flex-basis: 25%;
}

.header {
    height: $header-height;
    position: sticky;
    padding-left: 50px;
    top: 0;
    right: 0;
    z-index: 99;
    transition: height 0.3s ease, background-color 0.3s ease;

    &__nav {
        margin-top: 2rem;

        li {
            @include btnMenu;
            @include flex(center, space-between);
        &:hover {
            background-color: $body-bg;
            box-shadow: $box-shadow-1;
            color: $main-color;
        }
        &:nth-last-child(1) {
            background: none;
        }

            i {
                font-size: 25px;
                margin-right: 20px;
            }

            &.active {
                content: "";
                transition: width 0.5s ease;
                color: $main-color;
                box-shadow: $box-shadow-1;
                transition: all 300ms ease;
                &:hover {
                    box-shadow: none;
                }
            }

           
        }
        .more {
            button {
                background: none;
                border: none;
                width: 200px;
                height: 45px;
                @include btnMenu;
                @include flex(center, flex-start);
                &:hover {
                    background-color: $body-bg;
                    box-shadow: $box-shadow-1;
                    color: $main-color;
                }
                i {
                    font-size: 25px;
                    margin-right: 20px;
                }
            }
        }
    }

    .post {
        margin-bottom: 30px;
        Button {
            @include colorGradient;
            width: 200px;
            height: 45px;
            border-radius: 50px;
            font-size: 1.2rem;
            font-weight: bold;
            
        }
    }
    
    &__wrap {
        .infoUser{
            bottom: 1.5em;
            button.account {
                width: 250px;
                @include flex(center, space-between);
                cursor: pointer;
                color: $txt-color;
                font-size: 1em;
                border: none;
                background-color: $body-bg;
            }
            .avatar{
                @include imgAvatar;
            }
            .info {
                .name{
                    font-weight: 700;
                }
                .username{
                    font-size: 0.8em;
                    color: #8899a6;
                }
                
            }
        }
    }
}


